<html>

<head>
    <%- include ("./header") %>
</head>

<body>
    <table>
        <tr>
            <td>
                <%- include ("./navigation") %>
            </td>
        </tr>
        <tr>
            <td width=100%>
                <table>
                    <tr>
                        <td width="50%">City:<%=data.city%></td>
                        <td width="50%"><b>Company:</b> Update 24X7 News<br>We are in the news field since 2015.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><br /><br /><br /><br /><br />
                <div style="text-align: center;">@Copyright Update 24X7 Contact us at:020-20303030</div>
                </p>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>