<!--nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

    <a class="navbar-brand" href="#">Update 24X7 News</a>
  

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sports">Sports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
        </li>

      </ul>
    </div> 
  </nav-->

<table>
  <tr>
    <td>
      <a class="navbar-brand" href="#">Update 24X7 News</a>
    </td>
    <td>
      <a class="nav-link" href="/home">Home</a>
    </td>
    <td>
      <a class="nav-link" href="/sports">Sports</a>
    </td>
    <td>
      <a class="nav-link" href="/contactus">Contact Us</a>
    </td>
    <td><a class="nav-link" href="/aboutus">About Us</a></td>
    <td>
      <a class="nav-link" href="/livechat">Live Chat</a>
    </td>
  </tr>
</table>