<html>
    <body>
<a  href="/users/logout">Logout</a>
<center>
    <h1>Profile page</h1>
</center>
<hr/>
<center>
    <h2>Hi <%=user.name%></h2> Your Email Id is <%=user.email%>
    <p>You have admin privelages. You can click any of the below link for further actions</p>
</center>
<div>
    <a href="">Add Product</a>
    <br/>
    <a href="">Add User</a>
    <br/>
    <a href="">Shopping List</a>
    <br/>
    <a href="/users/userslist">User List</a>
</div>
    </body>
</html>